@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = null;
}
<html>
<head>
    <title>錯誤提示</title>
    <style>
        body, html {
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>
    <div style="margin:150px auto;width:400px; border:2px solid #9e9e9e; padding:5px; border-radius:5px;">
        <h1 class="text-danger">不好意思，</h1>
        <h2 class="text-danger">處理您的要求時發生錯誤，</h2>
        <h2 class="text-danger">
            請連絡系統管理員，
        </h2>
        <h2 class="text-danger">
            並告知使用情境，謝謝。
        </h2>
    </div>
</body>

</html>